build/
build-linux-*/
build-windows-*/
dist-linux-*/
dist-windows-*/
.sqgipkg/


debian/auto*
debian/debhelper*
debian/files
build-dir/*

.flatpak-builder/*
.gdb_history
.vscode/
.cursorindexingignore
.specstory/
